# How to define Variables
# Error 
* name in string will be print
* name without string will not print bcz name or variable is not defind and without 
* string it would not print

In [1]:
print("name")

name

In [2]:
print(name)

NameError: name 'name' is not defined

# How many ways string can be define

In [3]:
* "string text",'string text',"""string text""" '''string text'''
name:str = "iqra"
print(name)
print(type(name))

iqra
<class 'str'>

In [4]:
* "string text",'string text',"""string text""" '''string text'''
name:str = 'iqra'
print(name)
print(type(name))

iqra
<class 'str'>

* apostrophy always written in double quote

In [5]:
message:str="hey my name is iqra' saleem"
print(message)

hey my name is iqra' saleem

In [6]:
message:str='hey my name is iqra' saleem'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (628487669.py, line 1)

* we can also write any value in double quote and wrape in single quote
* now we want to use single code for inside text and also sigle code for outer then we will add just add / before character

In [8]:

message:str ='Piaic "student card" for registration'
print(message)

Piaic "student card" for registration

In [12]:
message:str='my name is iqra i am daughter of Muhammad \'s saleem'

print(message)

my name is iqra i am daughter of Muhammad 's saleem

# why triple quotes are necessary

to define multiline string we use """ """ ''' ''' yeah khudi next line hr functionality add krta hai or type casting ki problem b solve krta hai it also allow to add any expression without define as a variable 
* + is use to add string 
* F-string is most powerfull in python F-string ka yeah faida hai ap kisi b jagah koeee b variable kisi b type ka pass krtay hai you have access to pass it how to use put f before triple quote and use curly braces{} k andr just variable name likhay

In [13]:
"a"+"b"+"c"

'abc'

In [20]:
name : str = "iqra saleem"
education : str = " learning python from piaic"
time : int = 9

card : str =f""" 
PIAIA student card
Student Name :{name}
Education :{education}
Time :{time}
Total marks : {20+40+8}
"""

print(card)

PIAIA student card
Student Name :iqra saleem
Education : learning python from piaic
Time :9
Total marks : 68

 # F-string and jinja

In [21]:
# f-string
name:str = "iqra"
f""" 
student name:{name}
"""

' \nstudent name:iqra\n'

In [ ]:
# jinja style we add double curly braces
name:str = "iqra"
f""" 
    student name:{{name}}
"""

# String methods
* there are many method of string like capitalize lower so on we just understand this method

In [24]:
name : str = "iqra"
print(name.capitalize())
print(name.lower())

Iqra
iqra

In [25]:
a=7 
b=8
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

# 2nd method 
# recommended below there are two methods for f-string

In [26]:
name : str = "iqra saleem"
education : str = " learning python from piaic"
time : int = 9


card : str ="""
PIAIA student card
Student Name :{a}
Education :{b}
Time :{c}
""" .format(a=name ,b=education,c=time)


print(card)

PIAIA student card
Student Name :iqra saleem
Education : learning python from piaic
Time :9

In [27]:
name : str = "iqra saleem"
education : str = " learning python from piaic"
time : int = 9

card : str =f""" 
PIAIA student card
Student Name :{name}
Education :{education}
Time :{time}
Total marks : {20+40+8}
"""

print(card)

PIAIA student card
Student Name :iqra saleem
Education : learning python from piaic
Time :9
Total marks : 68

# power of tripple quote ''''''
* you can write anything in triple quote as your desire

In [29]:
student_info : str = """ 
print(" i am learning python for quarter 3")
number1 : int = 23
number2 : int = 89
print(number1+number2)
"""
exec(student_info)

 i am learning python for quarter 3
112

# string method and attributes
* predefine global function
*print type id dir len

In [33]:
a: list[str] = [ i for i in dir(str) if "_" not in i]
print(a)
print(len(a))

# syntax to use method
# variable_name.method() some takes arguments

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
46
<built-in method capitalize of str object at 0x000001A00DC81AA0>

In [34]:
name : str ="IQra"
print(name.capitalize())

Iqra

In [38]:
name : str ="     IQra      "
display(name)
display(name.lstrip())
display(name.rstrip())
name : str ="     IQ  ra      "
display(name.rstrip())

'     IQra      '

'IQra      '

'     IQra'

'     IQ  ra'

# regular expression import to avoid center spaces like iq ra spa between these two
* sub() strip() both also use

In [41]:
import re
name : str = "   iqra  saleem    "
display(name)
name1 : str = re.sub(' {2,100}',' ',name).strip()
display(name1)

'   iqra  saleem    '

'iqra saleem'

In [42]:
name : str ="iQra"
print(name.title())

Iqra

In [43]:
# use of f-string
first_name : str  = "iqra"
last_name : str  = "saleem"
full_name: str = f"{first_name} {last_name}"
print(full_name)

iqra saleem

In [46]:
# white space character
 # \n \t \b=backspace for delete   \t\t=tab extra space
print("iqra : \t\t saleem")
print("iqra :\nsaleem")
print("iqra :\bsaleem")

iqra : 		 saleem
iqra :
saleem
iqra saleem

In [ ]:
nostrach_url : str = "https://nostrach.com"
nostrach_url.removeprefix("https://")