 # Python divides the operators in the following groups:

 * Arithmetic operators
 * Assignment operators
 * Comparison operators
 * Logical operators
 * Identity operators
 * Membership operators
 * Bitwise operators

* arithmetic operators
 +	Addition	x + y	
 -	Subtraction	x - y	
 *	Multiplication	x * y	
 /	Division	x / y	
 %	Modulus	x % y	
 **	Exponentiation	x ** y	
 //	Floor division	x // y

In [1]:
a : int = 8
b : int = 2

print(a%2)
print(a**b)
print(a/b)
print(a//b)

0
64
4.0
4

# Assign operator
Operator	Example	Same As	Try it
=	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3

# comparion operator
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

In [2]:
a : int = 4
b : int = 3
print(a==b)

False

In [3]:
a : int = 3
b : str = '7'
print(a==b)

False

In [4]:
a : int = 3
b : str = '7'
print(a!=b)

True

# ASCII CODE 
A = 65
Z = 90
a = 97
z = 122
0=48
9=57

In [6]:
chr(65)

'A'

In [8]:
ord("A")

65

In [7]:
a : str = "A"
b : str = "B"
print(b>=a)

True

# Logical operator
and 	Returns True if both statements are true	x < 5 and  x < 10	
or	Returns True if one of the statements is true	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)
* and operator mein all conditions must be true
* or operator mein koee aik b condition true ho to chl jayay ga
* not means true ko false or false ko true krday ga

In [9]:
name : str = "iqra"
print(not name=="iqra")

False

* python identity operator
is 	Returns True if both variables are the same object	x is y	
is not	Returns True if both variables are not the same object	x is not y

In [14]:
x : str ='abc' 
y : str = 'abc'
# it will check both physical address
print(id(x))
print(id(y))
x is y

140733571207432
140733571207432

True

In [13]:
x : str ='abc' 
y : str = 'abc'
# it will check both physical address
print(id(x))
print(id(y))
x is not y

140733571207432
140733571207432

False

* Python Membership Operators
in 	Returns True if a sequence with the specified value is present in the object	x in y	
not in	Returns True if a sequence with the specified value is not present in the object	x not in y

In [15]:
names : list[str]=[chr(i) for i in range(65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [1]:
names : list[str]=[chr(i) for i in range(65,91)]
"D" in names

True

In [3]:
names : list[str] = ["Sir Zia" ,'Sir Inam', "sir Qasim"]
uinput : str = input ("Enter your name")
uinput in names

True

In [4]:
names : list[str] = ["Sir Zia" ,'Sir Inam', "sir Qasim"]
uinput : str = input ("Enter your name")
uinput not in names

True

 # Operator Precedence

# PEMDAS

<img src="https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

In [5]:
print(3 + 2 - 2 * 4 / 2 + 2)

3.0

In [6]:
number : int = 14_000_000_000
print(number)

14000000000

In [7]:
 


a  , b  , c  = "a" , 7 , 3.0 
print(a)
print(b)
print(c)

a
7
3.0

In [8]:
data=["arooj",2, 2.0]
print(data[0],data[1] ,data[2])

arooj 2 2.0

# Zip data
* ooper itni mehnat sy bchnay k liyay hm just * staric means infinite ka sign lagatay hai to yeah khud * hr value hr index sy utha k deta hai

In [9]:
data=["arooj",2, 2.0]
print(*data)

arooj 2 2.0

 (a<(b := a+5)>)  := valurus operator
 walurus operator allow you to assign value within a operator